<%content_for(:title, "All Ideas list") %>
<h1 class='page_title'>What to do</h1>

<%=will_paginate @ideas%>
<%=render :partial=>"idea", :collection=>@ideas%>
<%=will_paginate @ideas%>
<br/>

<script>
 function show_delete_link(id){
   $('delete_' + id).show();
 }
 function hide_delete_link(id){
   $('delete_' + id).hide();
 }
</script>