<% form_remote_tag(:url => sharing_path(share), :method=>'DELETE') do%>
  <div class="share" id="share_<%=share.id%>">
      I shared
      <span class="share_tag"><%=share.tag.name%></span>
      with
      <span class="share_user"><%=share.user.login%></span>
      <input type="submit" value="Decline" >
  </div>
<%end%>