.span-18 a.logo {display: block; float : left; width: 250px; height: 74px; background: url(/images/logo_vertada.png) no-repeat;}

/* Errors */
.errorExplanation{background-color : #FFE6E6; padding : 6px; font-size : 0.9em;}
.errorExplanation h2{font-size : 1.2em; color : #9A0000;}
div.fieldWithErrors input{border : 1px solid #FFB3BC;}
div.fieldWithErrors password{border : 1px solid #FFB3BC;}
div.fieldWithErrors textarea{	border : 1px solid #FFB3BC;}

/* Flashes */
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

.add_idea{width:600px;}

.tb-margin10{margin : 10px 0;}

/* Styling for disabled javascript notification */
div.javascript_disabled_notification {background:#FFFFFF none repeat scroll 0 0;margin:30px auto;width:520px;}
div.javascript_disabled_notification div.inner {padding:20px;text-align:left;}
div.javascript_disabled_notification h1 {font-size:18px;margin:0 0 18px;}
div.javascript_disabled_notification p {font-size:14px;line-height:140%;margin:0 0 14px;}

fieldset.form{border : 15px solid #ddd; background-color : #EAF5EF;margin:0 auto 10px auto;width:375px;margin-bottom:30px;}
div.center_block{margin:0 auto;width:440px; padding:0px; margin-top : 20px; margin-bottom:8px;}
ol.form li{clear:both; padding-top : 10px; list-style : none;}
ol.form li input{margin-top:0px;}
ol.form label{font-size : 1.2em;color : #666; margin-bottom : 0px;}

h3.form_title{margin:0 auto;width:440px; padding:0px; margin-top : 20px; margin-bottom:8px; font-size : 1.6em;}


textarea.post_editor {
    width: 98%;
}
.height100{height : 100px;}

.delete_file_link{
    color: red;
    font-size: 0.9em;
}
h1.page_title{padding : 10px 0;}

.idea_show{margin: 25px 0; background-color : #E3F6E6; padding : 0;}
.idea_show .content{padding : 10px;}
.idea_show .tags{background-color : #D1EFC4; padding : 3px;}
.idea_show .details{color : #999999; padding : 5px;}
.delete_link_place{height : 20px; text-align : right; padding-right : 10px;}

#main_menu{float : left;padding-top : 50px; margin-left : 50px; font-size: 1.5em;}
.new_idea_link{color : #0EC12B; font-weight : bold;}
.signup_link{color : #0EC12B; font-size: 1.5em;}

.add_tags_panel{
  background-color : #C6E8C5;
  padding : 3px;
}
div.tags img.tag_image {
    float: left;
    height: 16px;
    padding-right: 4px;
    width: 16px;
}
.add_tags_panel{
  padding : 5px;
}
.idea_controls{
  padding : 5px;
}
.idea_controls a{
  color : #97D47C;
}

