<%content_for(:title, current_user.login) %>
<h1 class='page_title'>Add Idea</h1>
<div class='add_idea' id="add_idea_place">
  <%=render :partial => 'ideas/quick_add', :locals=>{:idea=>Idea.new}%>
</div>
<div id='idea_place'>

</div>