
<%content_for(:title, "Welcome!") %>
<br/><br/>
<div>
	<p>Vertada is a simple application to store ideas. You can write down idea, attach files to it. </p>
  What inside:
  <ul>
    <li>File attachments to ideas</li>
    <li>Tags</li>
    <li>Simple text editor with video and smiles insert feature</li>
    <li>Filtering by tags</li>
  </ul>
  <p>Vertada is free. Take it on <a href="http://github.com/kiosan/vertada/tree/master">Github</a> and use it.</p>
  <p>Contact: Oleksandr Bondar <obondar@gmail.com>.</p>
  <p>
    <%unless current_user%>
      <%=link_to "Create account now!", signup_path, :class=>"signup_link"%>
      
    <%else%>
      <%=link_to "Add Idea", home_path, :class=>"signup_link", :style=>"font-size : 1.7em;"%>
    <%end%>
  </p>
  <br/><br/>
</div>