
<%content_for(:title, "Welcome to the main page") %>
<div>
	<p>Vertada is a simple application to store ideas. You can write down idea, attatch files to it. </p>
  <p>Vertada is free. Take it on <a href="http://github.com/kiosan/vertada/tree/master">Github</a> and use it.</p>
  <p>
    <%unless current_user%>
      <%=link_to "Create account now!", signup_path, :class=>"signup_link"%>
      
    <%end%>
  </p>
  <br/><br/>
</div>